/*Variáveis*/

:root {
  --margin-default: 0.5rem;
  --red: rgb(241, 88, 84);
  --green: rgb(13, 189, 22);
  --blue: rgb(93, 165, 218);
  --yellow: rgb(222, 207, 63);
  --purple: rgb(178, 118, 178);
  --orange: rgb(250, 164, 58);
  --white: rgb(255, 255, 255);
  --main: rgba(56, 7, 121);
  --gradient-main: linear-gradient(180deg, #410294 0%, rgb(93, 1, 206) 94.79%);
}

.text-main {
  color: var(--main);
}

.red {
  background: var(--red);
}
.green {
  background: var(--green);
}
.blue {
  background: var(--blue);
}
.yellow {
  background: var(--yellow);
}
.purple {
  background: var(--purple);
}
.orange {
  background: var(--orange);
}

/*Definindo valores padrões em algumas tags*/

body {
  margin-bottom: 4rem !important;
}

p {
  margin: 0 !important;
}

h1 {
  font-size: 170% !important;
}

h2 {
  font-size: 150% !important;
}

section {
  margin-top: calc(var(--margin-default) * 2) !important;
}

img {
  width: 3.5rem;
}

/*Login*/
.bi {
  font-size: 1.5rem;
}

.background-main {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background: linear-gradient(180deg, #410294 0%, rgb(93, 1, 206) 94.79%);
}

.background-main .container-fluid {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.login-avatar {
  border: 1px solid var(--main);
  border-radius: 50%;
  margin: var(--margin-default);
  width: 8rem;
  height: 8rem;
  background-image: url("../assets/logo.png");
  background-color: var(--main);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.font-sm {
  font-size: 0.9rem;
}

.font-main {
  color: var(--main);
}

.login-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: calc(var(--margin-default) * 2);
}

.btn-facebook {
  background: #5686e1 !important;
}

.btn-google {
  background: white;
  color: var(--red) !important;
  border-color: var(--red) !important;
}

/*Cabeçalho*/
.avatar-logo {
  padding: var(--margin-default);
  width: 5.5rem;
  flex-wrap: nowrap !important;
  align-items: center;
}

header {
  color: var(--white);
  background: var(--gradient-main);
  align-items: center;
  justify-content: space-between;
}

header a {
  color: var(--white) !important;
}

header a:hover {
  color: rgb(194, 192, 192) !important;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

/*Home*/

.resumo .bi {
  font-size: 1.7rem;
  margin-bottom: var(--margin-default);
}

.titulo {
  margin: calc(var(--margin-default) * 2);
  text-align: center;
}

.subtitulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Tabelas da Home*/

.table {
  border: 1px solid rgba(217, 199, 199, 1);
}

th {
  border-bottom-color: rgba(217, 199, 199, 1) !important;
}

.table img {
  width: 2.5rem;
}

.table .bi {
  margin-bottom: 10px;
}

.anchor-default {
  color: var(--main);
  text-decoration: none;
}

.success:hover {
  color: var(--green);
}

.danger:hover {
  color: var(--red);
}

/*Gráfico*/

.dashboard {
  margin-left: 40px;
}

.chart {
  background: conic-gradient(
    var(--red) 0 20%,
    var(--orange) 0 50%,
    var(--blue) 0 60%,
    var(--yellow) 0 70%,
    var(--purple) 0 85%,
    var(--green) 0
  );
  border-radius: 50%;
  width: 50%;
  height: 0;
  padding-top: 50%;
  float: left;
  padding-right: 20px;
}

.key {
  width: 50%;
  float: right;
  list-style: none;
  display: table;
  border-collapse: separate;
}

.key > li {
  display: table-row;
}

.key > li > * {
  display: table-cell;
  border-bottom: 12px solid var(--white);
}

.percent {
  color: var(--white);
  padding: 10px 2px;
  text-shadow: 0 0 1px black;
  text-align: center;
}
.choice {
  padding-left: 10px;
}

/*Meu Perfil*/
.profile-avatar {
  border: 1px solid var(--main);
  border-radius: 50%;
  margin: var(--margin-default);
  width: 14rem;
  height: 14rem;
  background-image: url("../assets/perfil.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: calc(var(--margin-default) * 2);
}

.cartoes .card {
  padding: calc(var(--margin-default) * 2);
}

/*Rodapé*/

footer {
  display: flex !important;
  justify-content: center;
  position: fixed;
  background: var(--gradient-main);
  color: var(--white);
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  align-items: center;
  margin-bottom: 0px !important;
}
